nav {
    top: 0;
    left: 0;
    z-index: 1;
    font-size: 0.5rem;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
.toggler {
    cursor: pointer;
    position: absolute;
    z-index: 3;
    height: 5rem;
    width: 5rem;
    opacity: 0;
}
.hamburger {
    position: absolute;
    z-index: 2;
    width: 6em;
    height: 6em;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}
.hamburger > div {
    position: relative;
    width: 100%;
    height: 0.2em;
    background-color: black;
    border-radius: 5px;
}
.hamburger > div:before,
.hamburger > div:after {
    position: absolute;
    content: "";
    background: black;
    height: 0.2em;
    width: 100%;
    z-index: 1;
    top: -1em;
    border-radius: 5px;
}
.hamburger > div:after {
    top: 1em;
}
.hamburger > div {
    transition: transform 0.4s ease;
}
.toggler:checked + .hamburger > div {
    transform: rotate(135deg);
    animation: colorTrans 0.4s ease;
    background-color: white;
    &:before,
    &:after {
        top: 0;
        transform: rotate(90deg);
        animation: colorTrans 0.4s ease;
        background-color: white;
    }
}

.toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
}

.menu {
    display: flex;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 0;
    transition: clip-path 1s ease;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    clip-path: circle(0%);
    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        li {
            cursor: pointer;
            text-align: center;
            margin: 4rem 0;
            font-size: 1.8rem;
            color: white;
        }
    }
}

.toggler:checked ~ .menu {
    clip-path: circle(100%);
}

.hamburger {
    position: relative;
}

.container {
    position: relative;
}
.toggler {
    position: absolute;
    right: -0.75em;
    top: 0;
}

.menu {
    transform: translateX(-10%);
    left: 0;
    top: 0;
    z-index: 1;
}

@keyframes colorTrans {
    0% {
        backgrund-color: black;
    }
    80% {
        background-color: black;
    }
    100% {
        background-color: white;
    }
}
