@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");
@import "./nav";
$lightRed: #d10040;
$darkRed: #b21e3a;

header {
    display: flex;
    align-items: center;
    justify-content: center;
}
.landing-content {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}
h1 {
    font-size: 5rem;
}
h2 {
    font-size: 1.8rem;
    font-weight: normal;
}
.cta-btn {
    margin-top: 4rem;
    background: $lightRed;
    color: white;
    padding: 0.5rem 3rem;
    border: none;
    border-radius: 5px;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    &:hover,
    &:active {
        background: #b21e3a;
    }
}
.landing-content svg {
    margin: 0 auto;
    transform: translateY(15vh);
    .scroll_anim {
        animation: scroll 2s ease infinite;
    }
}
@keyframes scroll {
    0% {
        transform: translate(155px, 860px);
    }
    80% {
        transform: translate(155px, 880px);
    }
    100% {
        transform: translate(155px, 880px);
    }
}
