@media only screen and (min-width: 700px) {
    .descriptor p {
        max-width: 50%;
        margin: 0 auto;
    }
    .contact-descriptor {
        p {
            max-width: 100%;
        }
    }
    .toggler,
    .hamburger {
        display: none;
    }
    .menu {
        display: flex;
        position: static;
        height: auto;
        width: auto;
        clip-path: none;
        background: none;
        margin: 0;
        transform: none;
        ul {
            flex-direction: row;
            li {
                color: black;
                margin: 0;
                font-size: 1.4rem;
                margin-left: 3rem;
            }
        }
    }

    .cta-btn {
        width: 50%;
        margin: 2.5rem auto 0;
    }

    form {
        input {
            grid-column: 1 /2;
        }
        input:last-of-type {
            grid-column: 2/3;
        }
    }
}
