@media only screen and (min-width: 1000px) {
    .descriptor-wImg img {
        display: initial;
    }
    .menu ul li {
        margin-left: 7rem;
        font-size: 1.2rem;
    }
    h1 {
        font-size: 12rem;
    }
    h2 {
        font-size: 3.5rem;
        margin-bottom: 2.5rem;
    }
    h3,
    .descriptor h3 {
        font-size: 4.5rem;
        span {
            font-size: 6rem;
        }
    }
    p {
        font-size: 1.6rem;
        line-height: 4rem;
    }
    .cta-btn {
        width: 30rem;
        font-size: 2.5rem;
        padding: 0.75rem 0;
    }
    .large-gap {
        margin-bottom: 20rem;
    }

    .about .container {
        display: grid;
    }
    .about {
        text-align: left;
        p {
            margin: 0;
            max-width: 100%;
        }
    }
    .descriptor-wImg {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10rem;
        row-gap: 5rem;
    }
    .img {
        height: 15vw;
        width: 15vw;
        max-height: 20rem;
        max-width: 20rem;
        clip-path: polygon(
            50% 0%,
            100% 25%,
            100% 75%,
            50% 100%,
            0% 75%,
            0% 25%
        );
    }
    .break {
        flex-basis: 100%;
        height: 0;
    }

    .img-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        overflow: hidden;

        .img:last-of-type {
            margin: -3rem auto;
            margin-bottom: 0;
        }
    }
    .first-group {
        .img:first-of-type {
            background: url("../assets/1.png") center center/cover;
            margin-right: 2.5rem;
        }
        .img:nth-of-type(2) {
            background: url("../assets/2.png") center center/cover;
        }
        .img:last-of-type {
            background: url("../assets/3.png") center center/cover;
        }
    }
    .middle-group {
        transform: rotate(180deg);
        .img:first-of-type {
            background: url("../assets/4.png") center center / cover;
            transform: rotate(180deg);
            margin-right: 2.5rem;
            background-size: cover;
        }
        .img:nth-of-type(2) {
            background: url("../assets/5.png") center center/cover;
            transform: rotate(180deg);
        }
        .img:last-of-type {
            background: url("../assets/6.jpg") center center/cover;
            transform: rotate(180deg);
        }
    }
    .end-group {
        .img:first-of-type {
            background: url("../assets/7.jpg") center center/cover;
            margin-right: 2.5rem;
        }
        .img:nth-of-type(2) {
            background: url("../assets/8.jpg") center center/cover;
        }
        .img:last-of-type {
            background: url("../assets/9.jpg") center center/cover;
        }
    }
    .desc-1 {
        align-self: center;
        text-align: left;
    }
    .desc-2 {
        grid-row: 2/3;
        grid-column: 2/3;
        text-align: right;
        align-self: center;
    }

    .desc-3 {
        grid-row: 3/4;
        align-self: center;
        text-align: left;
    }

    .services-descriptor,
    .contact-descriptor {
        margin-bottom: 5rem;
        &::after {
            top: 3rem;
        }
        h3 {
            width: 30rem;
            margin-bottom: 3rem;
        }
    }
    .contact-descriptor {
        .logo {
            width: 20rem;
        }

        p {
            line-height: 3rem;
        }
    }
    input {
        height: 6.5rem;
        margin-bottom: 1.5rem;
    }
    textarea {
        height: 20rem;
        padding: 1rem 1rem;
    }
    input,
    textarea {
        font-size: 1.4rem;
        border-radius: 5px;
    }
    .submit {
        font-size: 2.2rem;
        padding: 1.5rem 0;
    }

    .service-icons {
        .icon {
            justify-content: flex-end;
            img {
                width: 6rem;
                margin: 0 auto;
            }
            p {
                font-size: 1.6rem;
                line-height: 6rem;
            }
        }
    }

    footer {
        h4 {
            font-size: 1.4rem;
        }
        p {
            font-size: 1.2rem;
        }
    }
    .contact-descriptor .social {
        a {
            margin-top: 1rem;
            margin-left: 2rem;
            img {
                height: 2rem;
            }
        }
        justify-content: flex-end;
    }

    .logo-contact {
        height: 8rem;
    }
}
