@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");
nav {
  top: 0;
  left: 0;
  z-index: 1;
  font-size: 0.5rem;
}

nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.toggler {
  cursor: pointer;
  position: absolute;
  z-index: 3;
  height: 5rem;
  width: 5rem;
  opacity: 0;
}

.hamburger {
  position: absolute;
  z-index: 2;
  width: 6em;
  height: 6em;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: transparent;
}

.hamburger > div {
  position: relative;
  width: 100%;
  height: 0.2em;
  background-color: black;
  border-radius: 5px;
}

.hamburger > div:before,
.hamburger > div:after {
  position: absolute;
  content: "";
  background: black;
  height: 0.2em;
  width: 100%;
  z-index: 1;
  top: -1em;
  border-radius: 5px;
}

.hamburger > div:after {
  top: 1em;
}

.hamburger > div {
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

.toggler:checked + .hamburger > div {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-animation: colorTrans 0.4s ease;
          animation: colorTrans 0.4s ease;
  background-color: white;
}

.toggler:checked + .hamburger > div:before, .toggler:checked + .hamburger > div:after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-animation: colorTrans 0.4s ease;
          animation: colorTrans 0.4s ease;
  background-color: white;
}

.toggler:checked:hover + .hamburger > div {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 0;
  -webkit-transition: -webkit-clip-path 1s ease;
  transition: -webkit-clip-path 1s ease;
  transition: clip-path 1s ease;
  transition: clip-path 1s ease, -webkit-clip-path 1s ease;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-clip-path: circle(0%);
          clip-path: circle(0%);
}

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.menu ul li {
  cursor: pointer;
  text-align: center;
  margin: 4rem 0;
  font-size: 1.8rem;
  color: white;
}

.toggler:checked ~ .menu {
  -webkit-clip-path: circle(100%);
          clip-path: circle(100%);
}

.hamburger {
  position: relative;
}

.container {
  position: relative;
}

.toggler {
  position: absolute;
  right: -0.75em;
  top: 0;
}

.menu {
  -webkit-transform: translateX(-10%);
          transform: translateX(-10%);
  left: 0;
  top: 0;
  z-index: 1;
}

@-webkit-keyframes colorTrans {
  0% {
    backgrund-color: black;
  }
  80% {
    background-color: black;
  }
  100% {
    background-color: white;
  }
}

@keyframes colorTrans {
  0% {
    backgrund-color: black;
  }
  80% {
    background-color: black;
  }
  100% {
    background-color: white;
  }
}

nav {
  top: 0;
  left: 0;
  z-index: 1;
  font-size: 0.5rem;
}

nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.toggler {
  cursor: pointer;
  position: absolute;
  z-index: 3;
  height: 5rem;
  width: 5rem;
  opacity: 0;
}

.hamburger {
  position: absolute;
  z-index: 2;
  width: 6em;
  height: 6em;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: transparent;
}

.hamburger > div {
  position: relative;
  width: 100%;
  height: 0.2em;
  background-color: black;
  border-radius: 5px;
}

.hamburger > div:before,
.hamburger > div:after {
  position: absolute;
  content: "";
  background: black;
  height: 0.2em;
  width: 100%;
  z-index: 1;
  top: -1em;
  border-radius: 5px;
}

.hamburger > div:after {
  top: 1em;
}

.hamburger > div {
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

.toggler:checked + .hamburger > div {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-animation: colorTrans 0.4s ease;
          animation: colorTrans 0.4s ease;
  background-color: white;
}

.toggler:checked + .hamburger > div:before, .toggler:checked + .hamburger > div:after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-animation: colorTrans 0.4s ease;
          animation: colorTrans 0.4s ease;
  background-color: white;
}

.toggler:checked:hover + .hamburger > div {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 0;
  -webkit-transition: -webkit-clip-path 1s ease;
  transition: -webkit-clip-path 1s ease;
  transition: clip-path 1s ease;
  transition: clip-path 1s ease, -webkit-clip-path 1s ease;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-clip-path: circle(0%);
          clip-path: circle(0%);
}

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.menu ul li {
  cursor: pointer;
  text-align: center;
  margin: 4rem 0;
  font-size: 1.8rem;
  color: white;
}

.toggler:checked ~ .menu {
  -webkit-clip-path: circle(100%);
          clip-path: circle(100%);
}

.hamburger {
  position: relative;
}

.container {
  position: relative;
}

.toggler {
  position: absolute;
  right: -0.75em;
  top: 0;
}

.menu {
  -webkit-transform: translateX(-10%);
          transform: translateX(-10%);
  left: 0;
  top: 0;
  z-index: 1;
}

@keyframes colorTrans {
  0% {
    backgrund-color: black;
  }
  80% {
    background-color: black;
  }
  100% {
    background-color: white;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Nunito", sans-serif;
}

.container {
  margin: 0 auto;
  width: 80%;
  max-width: 1920px;
}

.mobile-hide {
  display: none;
}

header {
  background: url("../assets/bg.png") no-repeat center center/cover;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.logo {
  position: relative;
  z-index: 1;
}

nav {
  position: fixed;
  width: 100vw;
  background: white;
  opacity: 0.95;
  height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .container {
  z-index: 1;
}

.large-gap {
  margin-bottom: 10rem;
}

.small-gap {
  margin-bottom: 5rem;
}

.descriptor-wImg img {
  display: none;
}

.about h1 {
  margin: 10rem auto;
  margin-top: 0;
}

nav {
  top: 0;
  left: 0;
  z-index: 1;
  font-size: 0.5rem;
}

nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.toggler {
  cursor: pointer;
  position: absolute;
  z-index: 3;
  height: 5rem;
  width: 5rem;
  opacity: 0;
}

.hamburger {
  position: absolute;
  z-index: 2;
  width: 6em;
  height: 6em;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: transparent;
}

.hamburger > div {
  position: relative;
  width: 100%;
  height: 0.2em;
  background-color: black;
  border-radius: 5px;
}

.hamburger > div:before,
.hamburger > div:after {
  position: absolute;
  content: "";
  background: black;
  height: 0.2em;
  width: 100%;
  z-index: 1;
  top: -1em;
  border-radius: 5px;
}

.hamburger > div:after {
  top: 1em;
}

.hamburger > div {
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

.toggler:checked + .hamburger > div {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-animation: colorTrans 0.4s ease;
          animation: colorTrans 0.4s ease;
  background-color: white;
}

.toggler:checked + .hamburger > div:before, .toggler:checked + .hamburger > div:after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-animation: colorTrans 0.4s ease;
          animation: colorTrans 0.4s ease;
  background-color: white;
}

.toggler:checked:hover + .hamburger > div {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 0;
  -webkit-transition: -webkit-clip-path 1s ease;
  transition: -webkit-clip-path 1s ease;
  transition: clip-path 1s ease;
  transition: clip-path 1s ease, -webkit-clip-path 1s ease;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-clip-path: circle(0%);
          clip-path: circle(0%);
}

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.menu ul li {
  cursor: pointer;
  text-align: center;
  margin: 4rem 0;
  font-size: 1.8rem;
  color: white;
}

.toggler:checked ~ .menu {
  -webkit-clip-path: circle(100%);
          clip-path: circle(100%);
}

.hamburger {
  position: relative;
}

.container {
  position: relative;
}

.toggler {
  position: absolute;
  right: -0.75em;
  top: 0;
}

.menu {
  -webkit-transform: translateX(-10%);
          transform: translateX(-10%);
  left: 0;
  top: 0;
  z-index: 1;
}

@keyframes colorTrans {
  0% {
    backgrund-color: black;
  }
  80% {
    background-color: black;
  }
  100% {
    background-color: white;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Nunito", sans-serif;
}

.container {
  margin: 0 auto;
  width: 80%;
  max-width: 1920px;
}

.mobile-hide {
  display: none;
}

header {
  background: url("../assets/bg.png") no-repeat center center/cover;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.logo {
  position: relative;
  z-index: 1;
}

nav {
  position: fixed;
  width: 100vw;
  background: white;
  opacity: 0.95;
  height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .container {
  z-index: 1;
}

.large-gap {
  margin-bottom: 10rem;
}

.small-gap {
  margin-bottom: 5rem;
}

.descriptor-wImg img {
  display: none;
}

.about h1 {
  margin: 10rem auto;
  margin-top: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing-content {
  margin: 0 auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 1.8rem;
  font-weight: normal;
}

.cta-btn {
  margin-top: 4rem;
  background: #d10040;
  color: white;
  padding: 0.5rem 3rem;
  border: none;
  border-radius: 5px;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

.cta-btn:hover, .cta-btn:active {
  background: #b21e3a;
}

.landing-content svg {
  margin: 0 auto;
  -webkit-transform: translateY(15vh);
          transform: translateY(15vh);
}

.descriptor {
  margin-bottom: 5rem;
  text-align: center;
}

p {
  line-height: 1.7rem;
}

h3 {
  font-size: 2.5rem;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

h3 span {
  font-size: 3.5rem;
  color: #d10040;
}

.services-descriptor,
.contact-descriptor {
  position: relative;
}

.services-descriptor h3,
.contact-descriptor h3 {
  font-size: 3.5rem;
  width: 16rem;
  background-color: white;
}

.services-descriptor::after,
.contact-descriptor::after {
  content: "";
  height: 1px;
  width: 100%;
  background: black;
  position: absolute;
  top: 2.5rem;
  left: 0;
  z-index: -1;
}

.service-icons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  text-align: center;
  row-gap: 2.5rem;
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 6rem;
}

.contact-descriptor {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.5rem;
}

.contact-descriptor h3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.contact-descriptor p {
  text-align: right;
}

form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
  -webkit-column-gap: 10%;
          column-gap: 10%;
  row-gap: 1.5rem;
}

input,
textarea {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  padding: 1rem;
  border: none;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: "Nunito", sans-serif;
  border: 1px solid rgba(199, 199, 199, 0.178);
}

textarea {
  max-width: 100%;
}

.submit {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  font-size: 1.6rem;
  background: #00d181;
  border: none;
  color: white;
  padding: 0.75rem 0;
  border-radius: 2.5px;
  margin-top: 1rem;
  letter-spacing: 1px;
}

section.contact .logo {
  z-index: 0;
}

footer {
  background: #efefef;
  padding: 2rem 0;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer p {
  line-height: 1.5rem;
}

footer p,
footer h4 {
  opacity: 0.6;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social img {
  cursor: pointer;
  height: 1.25rem;
  margin-top: 0.5rem;
  opacity: 0.5;
}

.social img:first-of-type {
  margin: 0;
}

.social img:hover {
  opacity: 1;
}

.scroll-middle {
  -webkit-animation: scroll 2s ease infinite;
          animation: scroll 2s ease infinite;
  -webkit-transform: translateX(38%);
          transform: translateX(38%);
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(38%) translateY(5px);
            transform: translateX(38%) translateY(5px);
  }
  80% {
    -webkit-transform: translateX(38%) translateY(25px);
            transform: translateX(38%) translateY(25px);
  }
  100% {
    -webkit-transform: translateX(38%) translateY(25px);
            transform: translateX(38%) translateY(25px);
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(38%) translateY(5px);
            transform: translateX(38%) translateY(5px);
  }
  80% {
    -webkit-transform: translateX(38%) translateY(25px);
            transform: translateX(38%) translateY(25px);
  }
  100% {
    -webkit-transform: translateX(38%) translateY(25px);
            transform: translateX(38%) translateY(25px);
  }
}

.creator-link {
  text-align: center;
  cursor: pointer;
}

.creator-link a {
  text-decoration: none;
  color: black;
}

.contact-descriptor .social {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-column-align: end;
      justify-self: end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contact-descriptor .social a {
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.logo-contact {
  height: 4rem;
}

@media only screen and (min-width: 750px) {
  .descriptor p {
    max-width: 50%;
    margin: 0 auto;
  }
  .contact-descriptor p {
    max-width: 100%;
  }
  .toggler,
  .hamburger {
    display: none;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: static;
    height: auto;
    width: auto;
    -webkit-clip-path: none;
            clip-path: none;
    background: none;
    margin: 0;
    -webkit-transform: none;
            transform: none;
  }
  .menu ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .menu ul li {
    color: black;
    margin: 0;
    font-size: 1.4rem;
    margin-left: 3rem;
  }
  .cta-btn {
    width: 50%;
    margin: 2.5rem auto 0;
  }
  form input {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 /2;
  }
  form input:last-of-type {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
}

@media only screen and (min-width: 1000px) {
  .descriptor-wImg img {
    display: initial;
  }
  .menu ul li {
    margin-left: 7rem;
    font-size: 1.2rem;
  }
  h1 {
    font-size: 12rem;
  }
  h2 {
    font-size: 3.5rem;
    margin-bottom: 2.5rem;
  }
  h3,
  .descriptor h3 {
    font-size: 4.5rem;
  }
  h3 span,
  .descriptor h3 span {
    font-size: 6rem;
  }
  p {
    font-size: 1.6rem;
    line-height: 4rem;
  }
  .cta-btn {
    width: 30rem;
    font-size: 2.5rem;
    padding: 0.75rem 0;
  }
  .large-gap {
    margin-bottom: 20rem;
  }
  .about .container {
    display: -ms-grid;
    display: grid;
  }
  .about {
    text-align: left;
  }
  .about p {
    margin: 0;
    max-width: 100%;
  }
  .descriptor-wImg {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 10rem;
            column-gap: 10rem;
    row-gap: 5rem;
  }
  .img {
    height: 20rem;
    width: 20rem;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
            clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }
  .break {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    height: 0;
  }
  .img-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
  }
  .img-group .img:last-of-type {
    margin: -1.5rem auto;
    margin-bottom: 0;
  }
  .end-group .img:first-of-type {
    background: url("../assets/1.png") center center/cover;
    margin-right: 5rem;
  }
  .end-group .img:nth-of-type(2) {
    background: url("../assets/2.png") center center/cover;
  }
  .end-group .img:last-of-type {
    background: url("../assets/3.png") center center/cover;
  }
  .middle-group {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .middle-group .img:first-of-type {
    background: url("../assets/4.png") center center/cover;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    margin-right: 5rem;
    background-size: cover;
  }
  .middle-group .img:nth-of-type(2) {
    background: url("../assets/5.png") center center/cover;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .middle-group .img:last-of-type {
    background: url("../assets/5.png") center center/cover;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .desc-1 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: left;
  }
  .desc-2 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    text-align: right;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .desc-3 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: left;
  }
  .services-descriptor,
  .contact-descriptor {
    margin-bottom: 5rem;
  }
  .services-descriptor::after,
  .contact-descriptor::after {
    top: 3rem;
  }
  .services-descriptor h3,
  .contact-descriptor h3 {
    width: 30rem;
    margin-bottom: 3rem;
  }
  .contact-descriptor .logo {
    width: 20rem;
  }
  .contact-descriptor p {
    line-height: 3rem;
  }
  input {
    height: 6.5rem;
    margin-bottom: 1.5rem;
  }
  textarea {
    height: 20rem;
    padding: 1rem 1rem;
  }
  input,
  textarea {
    font-size: 1.4rem;
    border-radius: 5px;
  }
  .submit {
    font-size: 2.2rem;
    padding: 1.5rem 0;
  }
  .service-icons .icon {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .service-icons .icon img {
    width: 6rem;
    margin: 0 auto;
  }
  .service-icons .icon p {
    font-size: 1.6rem;
    line-height: 6rem;
  }
  footer h4 {
    font-size: 1.4rem;
  }
  footer p {
    font-size: 1.2rem;
  }
  .contact-descriptor .social {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .contact-descriptor .social a {
    margin-top: 1rem;
    margin-left: 2rem;
  }
  .contact-descriptor .social a img {
    height: 2rem;
  }
  .logo-contact {
    height: 8rem;
  }
}
/*# sourceMappingURL=main.css.map */